{% extends "base.html" %}

{% block app_content %}
<h1>About Routine Checklits</h1>

<p>This site was inspired by the book <em><a href="http://atulgawande.com/book/the-checklist-manifesto/" class="text-decoration-none">'The Checklist Manifesto' by Atul Gawande</a>.</em></p>

<p class='lead'>Routine checklists are not to-do lists.</p>

<p>Routine checklists provide the opportunity to free your brain from having to catch dumb mistakes, and focus on the creative, difficult, and inspiring problems of your day. Use a routine checklist to run through the common events in your day to ensure you do not miss the simple stuff, the routine.</p>

<p>Routine checklists are used extensivly in the aviation field. They ensure that the dumb questions are asked to prevent the dumb mistakes being made. Additionally, they ensure that in emergency situations cooler heads prevail and the proper procedure is followed.</p>

<p>Another benifit that arises from formalizing a routine checklist is that is can be practiced, building discipline and speed. Leaning on the aviation industry again, pilots drill their checklists over and over to ensure accuracy to procedurs as well as speed. Both speed and accuracy are important in the mundane and the high pressure situations of flying.</p>

<p class="lead">The characteristics of a good routine checklist can be defined as follows.</p>

<dl>
    <dt>Catch the Unacceptable Failures</dt>
    <dl>During landing of an aircraft, pilots check several times to ensure that the landing gear is down, as this would be disastrous. Find similar failure points.</dl>

    <dt>Focus on the "dumb" questions</dt>
    <dl>Remembering your car keys as you walk out the door is pretty easy, but frustrating when you don't. As part of a checklist, the easy things are moved from something you have to worry about, to things that just get done. Freeing your briain power for tasks that are less routine.</dl>

    <dt>Stick to a single process per list</dt>
    <dl>You don't need a single checklist for your whole day.</dl>

    <dt>You don't have to check every single thing</dt>
    <dl>blah blah</dl>

</dl>


{% endblock app_content %}

