<!DOCTYPE html>
<html lang="en">
    <head>
        {% block title %}
            {% if title %}
            <title>{{ title }} - Routine Checklists</title>
            {% else %}
            <title>Welcome to Routine Checklists!</title>
            {% endif %}
        {% endblock %}
    </head>
    <body>
        {% block nav %}
        <div>
            <a href="/index">Home</a>
            <a href="/new">New</a>
            <a href="/login">Login</a>
        </div>
        {% endblock %}
        <hr>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
