{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}




{% block app_content %}
    <h1>Create a New Checklist</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div id="list-title">
            <p>
                {{ form.title.label }}<br>
                {{ form.title(size=60) }}<br>
                {% for error in form.title.errors %}
                    <span style="color:red;">{{error}}</span>
                {% endfor %}
            </p>
        </div>
        <button type="button" class="btn btn-med">
                {{ form.submit() }}
        </button>
    </form>


{% endblock app_content %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        var counter = 3;
        function addInput(){
            var newdiv = document.getElementById('item_list-' + counter).cloneNode(true);
            counter++;
            newdiv.id = 'item_list-' + counter;
            document.getElementById('item_list').appendChild(newdiv);
        }
    </script>
{% endblock scripts %}
