{% extends "base.html" %}

{% block content %}
    <h1>Home</h1>
    <p>This is the home page of the routine checklists web page.</p>
    <p>Here are the checklists:</p>
    {% for list in check_lists %}
        <div>
            <h2>{{ list.title}}</h2>
            <p>By {{list.author.username}}, on {{list.creation_date }}</p>
            {% for item in list.listitems %}
                <li>{{ item.title }}</li>
            {% endfor %}
        </div>
    {% endfor %}
    </table>
{% endblock %}
